.searchContainer{
    padding: 1rem;
    border: 1px solid rgb(211, 210, 210);
    box-shadow: 0 1px 2px rgb(2,2,2);
    width: 300px;
    height: 100vh;
    z-index: 1;
}

.searchInput{
    border: none;
    border-radius: 4px;
    background-color: rgb(242,242,242);
    padding: 5px 10px;
    font-size: 13px;
    width: 100%;
    outline: none;
    margin-left: 10px;
    color: #333;
}

.searchInput::placeholder {
  color: #888;
  opacity: 1;
}
