.progress-bar-container{
    width: 100%;
    height: 4px;
    background-color: rgb(252, 252, 252);
    border-radius: 4px;
    overflow: hidden;
    opacity: .5;
    transition: opacity 0.3s ease-out;
    margin: 1rem;
    z-index: 10;
}

.progress-bar-container.active{
    opacity: 1;
}

.progress-bar{
    height: 100%;
    background-color:  #4078f0;
    border-radius: 4px;
}